
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color:#f10a0a;
  --secondary-color:#f8f8f8;
  --text-primary-color:#292727;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-color:var(--primary-color);
  --color-secondary-color:var(--secondary-color);
  --color-text-primary-color:var(--text-primary-color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-changa:"Changa One",cursive;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/
body {
  margin: 0;
  padding: 0;
} 
